#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-button {
  margin-left: 20px;
  margin-right: 20px;
}

.selected-button {
  outline: 4px auto -webkit-focus-ring-color;
}

.generated-image {
  margin: 50px;
}
